
@import "variables";
@import "mixin";
@import "libs";
@import "fonts";
@import "nullstyle";

.page {
	overflow: hidden;
	max-width: 1920px;
	margin: 0 auto;
}


@import "header";
@import "main";
@import "footer";